version: "3.9"
services:
  redis:
    image: redis:7
    volumes:
      - redisdata:/data
    command: ["redis-server","--save","60","1"]

  api:
    build: .
    depends_on:
      - redis
    environment:
      REDIS_HOST: redis
    volumes:
      - ./excel:/app/data
    ports:
      - "5000:5000"

  worker:
    build: .
    depends_on:
      - redis
    environment:
      REDIS_HOST: redis
    volumes:
      - ./excel:/app/data
    command: ["python3","worker.py"]

volumes:
  redisdata:

